.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 282px;
    padding: 14px 15px;
    border: 1px solid #EBEBEB;
    color: #EBEBEB;
    font-size: 16px;
    line-height: 20px;
    border-radius: 3px;
}

.pagination a {
    color: #EBEBEB;
    text-decoration: none;
}

.pagination a:hover {
    color: var(--pink-color);
}